# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# local packwiz tooling

/.tools/
/packwiz-windows-x64.zip

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
/run-26.2/
